<div class="relative bg-gradient-to-r from-purple-900 min-h-[89.2vh] to-indigo-800 py-16 font-[sans-serif]">
    <div class="absolute inset-0">
      <img src="https://resources.tidal.com/images/80eac951/b6ac/4fc4/8da5/3814286f23ca/1280x720.jpg" alt="Background Image" class="w-full h-full object-cover opacity-50" />
    </div>
    <div class="flex flex-wrap justify-center gap-5">
      <div *ngFor="let album of albums"
      class="relative bg-purple-200 shadow-[0_4px_12px_-5px_rgba(0,0,0,0.4)] w-80 max-w-sm rounded-lg overflow-hidden mx-auto font-[sans-serif] mt-4">
      <div class="min-h-[26px]">
        <img src="../../../assets/img/breadcumb3.jpg" class="w-full" />
      </div>

      <div class="p-5">
        <div class="flex justify-between">
            <h3 class="text-gray-800 text-xl font-bold">{{album.titre }}</h3>
            <p class="text-sm mt-1 leading-relaxed">Year : {{ album.annee }}</p>
        </div>
        <p class="mt-2 text-xl text-gray-500 leading-relaxed">{{album.artiste }}</p>
        <button type="button"
          class="mt-6 px-5 w-full py-2.5 rounded-lg text-white text-sm tracking-wider border-none outline-none bg-purple-600 hover:bg-blue-700 active:bg-blue-600">View</button>
      </div>
    </div>  
    </div>    
</div>



